[Desktop Entry]
Encoding=UTF-8
Name=Link to Hippo-Continus: Développeur web 6 - Java JEE
Type=Link
URL=https://hippocontinus.ec-nantes.fr/course/index.php?categoryid=38
Icon=text-html
Name[en_US]=cours
