[Desktop Entry]
Encoding=UTF-8
Name=Link to progr
Type=Link
URL=https://webmail.ec-nantes.fr/home/laetitia.rivereaud@ec-nantes.fr/DEVWEB6-V1.html?view=workWeek
Icon=text-html
