[Desktop Entry]
Encoding=UTF-8
Name=Link to Slack | projet_28novembre_bigdata | DEV6
Type=Link
URL=https://app.slack.com/client/TQGCLPQ5Q/CQX4VT60P
Icon=text-html
Name[en_US]=slack
