[Desktop Entry]
Encoding=UTF-8
Name=Link to Brève histoire du web | CERN
Type=Link
URL=https://home.cern/fr/science/computing/birth-web/short-history-web
Icon=text-html
Name[en_US]=breve_histoire_web
