[Desktop Entry]
Encoding=UTF-8
Name=Link to B1.1 intro dev: Comment créer un site web?
Type=Link
URL=https://hippocontinus.ec-nantes.fr/mod/url/view.php?id=1153
Icon=text-html
Name[en_US]=creer_site_web
