[Desktop Entry]
Encoding=UTF-8
Name=Link to B1.1 intro dev: Développement web vs logiciel
Type=Link
URL=https://hippocontinus.ec-nantes.fr/mod/url/view.php?id=1157
Icon=text-html
Name[en_US]=developpement_web_vs_logiciel
