[Desktop Entry]
Encoding=UTF-8
Name=Link to Tim Berners-Lee, le génie inventeur du web
Type=Link
URL=https://www.franceculture.fr/numerique/tim-berners-lee-le-genial-inventeur-du-web
Icon=text-html
Name[en_US]=tim_berners_lee
