[Desktop Entry]
Encoding=UTF-8
Name=Link to Top 10 des IDE pour les développeurs JAVA | SUPINFO, École Supérieure d'Informatique
Type=Link
URL=https://www.supinfo.com/articles/single/6135-top-10-ide-developpeurs-java
Icon=text-html
Name[en_US]=top_10_IDE_JAVA
